@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  padding: 1.5rem;
}
#texto-logo {
  color: aliceblue;
  font-size: 3rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: bold;
}
header {
  background-color: red;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 84px;
  height: 74px;
}

main {
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.box-content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#texto-menu {
  display: flex;
  align-items: center;
}
.texto-centralizado {
  width: 17rem;
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: bold;
}
#primeira-imagem {
  width: 20rem;
  height: 20rem;
  border-radius: 10rem;
}
.div-button {
  width: 100%;
  display: flex;
  justify-content: center;
}
button {
  width: 8rem;
  height: 3rem;
  background-color: cornflowerblue;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: bold;
  border-radius: 2rem;
  border: 2px solid red;
}
.banner {
  width: 100vh;
  background-color: red;
  min-height: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pontos-fortes {
  width: 100%;
  display: flex;
  background-color: aliceblue;
  justify-content: space-around;
}
.conteudo-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
}
footer {
  background-color: red;
}

.footer {
  display: flex;
  justify-content: space-between;
}
