@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  background-color: black;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  padding: 1.5rem;
}
.texto-logo {
  color: aliceblue;
  font-size: 3rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: bold;
}
.texto-centralizado h1 {
  color: #eb3437;
  font-size: 3rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: bold;
  margin: 0;
  padding: 0;
}
.texto-centralizado p {
  margin: 0;
  padding: 0;
}
header {
  background-color: rgb(0, 0, 0);
  border-bottom: 2px solid rgb(220, 214, 214);
}

.header {
  display: flex;
  align-items: center;
}
header nav {
  font-style: none;
  flex: 1;
  display: flex;
  align-items: end;
}
header nav .right-side {
  display: flex;
  flex: 1;
  justify-content: space-around;
  font-size: 1.5rem;
}
header nav li {
  text-decoration: none;
  list-style-type: none;
  margin: 30px 0;
}

header nav li a {
  color: white;
  text-decoration: none;
}
header nav li a:hover {
  color: #999;
  text-decoration: none;
}
/* 
area oculta em monitores

*/
header .menu {
  display: none;
  flex: 1;
  justify-content: flex-end;
}
header .menu-icon {
  width: 5rem;
  height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  padding-right: 50px;
}
header .menu-icon div {
  width: 4rem;
  height: 1rem;
  background-color: #ffffff;
}

.section-content {
  background-color: #1e1e1e;
  border-radius: 1rem;
  display: flex;
  flex: 2;
  flex-wrap: wrap;
  justify-content: space-around;
}

.logo {
  width: 84px;
  height: 74px;
}

main {
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.box-content-main {
  flex: 1;
  display: flex;
  align-items: center;
}

.box-content {
  background-color: #000000;
  width: fit-content;
  height: fit-content;
  margin-top: 4rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 5px solid #1e1e1e;
  border-radius: 30px;
}
.box-text {
  background-color: #464646;
  color: white;
  width: 22rem;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.box-text p {
  padding: 0 1rem;
  margin: 0;
  margin-bottom: 1rem;
}
.box-text h1 {
  color: #eb3437;
  padding: 0;
  margin: 0;
  margin-top: 1rem;
}
.box-image {
  height: fit-content;
  border-radius: 1.5rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.box-image img {
  background-color: #1e1e1e;
  width: 22rem;
  height: 16rem;
  border-radius: 1.5rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
#texto-menu {
  display: flex;
  align-items: center;
}
.texto-centralizado {
  font-size: 1.7rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: bold;
  color: white;
}
.div-button {
  width: 100%;
  display: flex;
  justify-content: center;
}
button {
  width: 8rem;
  height: 2rem;
  color: white;
  background-color: #ccc;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: bold;
  border-radius: 1rem;
  display: block;
  border: 1px solid rgb(255, 255, 255);
}
button:hover {
  color: #eb3437;
  border: 1px solid #eb3437;
}
.pontos-fortes {
  width: 100%;
  height: 12rem;
  display: flex;
  background-color: #eb3437;
  justify-content: space-around;
}

.conteudo-banner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
footer {
  background-color: #eb3437;
}

.footer {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 820px) {
  header nav {
    display: none;
  }

  header .menu {
    display: flex;
  }

  .box-content-main {
    flex-direction: column;
  }
  .hero-img img {
    height: 22rem;
  }

  .texto-centralizado {
  }
  .div-button {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .section-content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .box-content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  p {
    font-size: large;
  }

  .pontos-fortes {
    width: 100vw;
    display: flex;
    background-color: #eb3437;
    justify-content: space-around;
  }
  .conteudo-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 450px) {
  .texto-centralizado {
    width: 20rem;
  }
  .pontos-fortes {
    flex: 3;
    flex-wrap: wrap;
    height: 14rem;
  }
  .section-content {
  }
  .box-content {
  }
}
